
body {
    background-color: #ecacef;
    opacity: 20;
    background-image: radial-gradient(#000000 0.65px, #ecacef 0.65px);
    background-size: 13px 13px;
}


/* este es el cuadro pequeño*/
.formulario{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    border-radius: 2%;
    border-style: dashed;
    border-width: 5px;
    margin: auto;
    text-align: center;
}

.formulario form{ /*formulario donde esta el nombre de usuario*/
    padding: 0 40px;
    box-sizing: content-box;
    background: #ecacef;
    margin: auto;
    max-width: 1000;
    text-align: center;
    justify-content: center;

}
.formulario form {
    margin: auto;
    width: 90%;
    max-width: 230px;
}







